<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Filtra</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{static_url('css/style.css')}}">
  <link rel="stylesheet" href="{{static_url('fonts/genericons/genericons.css')}}">
  <link rel="stylesheet" href="{{static_url('css/non-responsive.css')}}">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"/>
  <script src="{{static_url('ui-bootstrap-tpls-0.14.3.min')}}"/>
  <script src="{{static_url('js/bootstrap.min.js')}}"></script>
  <script src="{{static_url('js/filtraApp.js')}}"></script>
  <script src="{{static_url('js/filtraCtrl.js')}}"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    var tracking = getUrlParameter("tracking");
     /**
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    */
    trackOutboundLink = function(url) {
        console.log("calling outbound: "+url);
        if( (typeof tracking == 'undefined')){
            ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
                function () {
                }
            });
        }
       
    }
    
    function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
  
      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    }
  </script>
</head>

<body ng-app="filtraApp" ng-controller="filtraCtrl"
  {% if 'cat_name' in globals() %}
      ng-init="category_name='{{cat_name}}'"
  {% end %}
>
<!-- popup overlay start -->
<div class="overlay" id="overlay_id" ng-show="nomination_visible" ng-click="togglePopup();"></div>
<div class="wrap-popup" id="popup_id" ng-show="nomination_visible">
	<div id="bt-close" ng-click="togglePopup();"><a href="#"><span class="genericon genericon-close-alt"></span></a></div>
	<h3 id="popup_title_label">Nominate a Handle For {{! current_path[current_path.length-1] }} </h3>
    <!-- left box start -->
    <div id="p-handle">
    	<div id="p-search"><span class="genericon genericon-search"></span> <input type="text" class="p-in-search" ng-model="search" ng-change="runSearch()"/></div>
        <ul id="open-handle-list">
          <li ng-repeat="handle in suggestion_list" ng-click="updateSearch('@'+handle.screen_name);">@{{! handle.screen_name}}</li>
        </ul>
    </div>
    <!-- left box end -->
    <!-- right box start -->
    <div id="p-twit-list">
      <p id="nothing" ng-show="handle_preview_html.length==0">Nothing to Display</p>
      <div class="twitter-tweet-wrap" id="p-tweet-container" ng-hide="handle_preview_html.length == 0" ng-bind-html="handle_preview_html_safe">
      </div>
      <span id="button-container" ng-hide="handle_preview_html.length == 0" ng-click="sendNomination()"><button class="p-bt-blue">Nominate {{! search }}</button></span>
    </div>
    <!-- right box end -->
    <div class="clear"></div>
</div>

<!-- popup overlay end -->
<!-- header start -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid top-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#"><img src="{{static_url('images/logo.png')}}" alt="middle"  align="bottom" /></a> <p id="slogan">A brief summary of social media</p>
      <div class="clear"></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
      </ul>
      <ul id="bt-top-nominate"  >
      	<li id="bt-nom" ng-click="togglePopup();"><a href="#"><span class="genericon genericon-search"></span> Nominate</a><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-content="Know a Twitter handle we should be following? Add it here!"><span class="genericon genericon-help"></span></a></li>
        <li><span class="genericon genericon-checkmark"></span>  <span id="remaining_vote_count">{{! remaining_votes}} Votes left</span> </li>
        <div class="clear"></div>
      </ul>
    </div>
    <!-- nav start -->
    <ul class="nav navbar-nav" id="top_level_nav">
      <li ng-hide="category_structure.length == 0" ng-repeat="cat in category_structure" ng-class="{'active': $index == selected_top_index}">
        <a href="#"  ng-click="selectionChange($index, -1, -1)">{{! cat.name }}</a>
      </li>
    </ul>
    <!-- nav end -->
  </div>
</nav>
<!-- header end -->
<!-- contents start -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 wrap-sub-nav">
      <ul id="nav-category" class="sub">
      	<li class="current-page" ng-click="selectionChange(selected_top_index, -1, -1)"><a href="#">{{! category_structure[selected_top_index].name }}</a></li>
        <li ng-hide="category_structure.length == 0 || selected_top_index==-1" ng-repeat="cat in category_structure[selected_top_index].children"
          id="{{! $index==selected_secondary_index ? 'sub-nav2' : 'random_sub_id'+$index}}">

            <div id="wrap-pr" ng-show="$index==selected_secondary_index"  >
              <a href="#" ng-click="selectionChange(selected_top_index, $index, -1)">{{! cat.name }}</a>
              <a href="#"><span class='genericon genericon-collapse'></span></a>
            </div>
            <ul ng-show="$index==selected_secondary_index && category_structure[selected_top_index].children[selected_secondary_index].children.length >0">
              <li ng-repeat="subcat in category_structure[selected_top_index].children[selected_secondary_index].children"
                  ng-class="{'current-sub': $index==selected_third_index}">
                <a href="#" ng-click="selectionChange(selected_top_index, selected_secondary_index, $index)" >{{! subcat.name}}</a>
              </li>
            </ul>
            <a href="#" ng-hide="$index==selected_secondary_index" ng-click="selectionChange(selected_top_index, $index, -1)">
              {{! cat.name }}</a>
            <a href="#" ng-hide="$index==selected_secondary_index"><span class="genericon genericon-expand"></span></a>
        </li>
      </ul>
    </div>
    <div class="col-xs-7 wrap-con-main">
    	<!-- Breadcurmbs start -->
        <ol class="breadcrumb">
          <li ng-repeat="category in current_path" ng-class="{'active': $last}">
            <a href="#" ng-hide="$last" ng-click="breadCrumbSelection($index)">
              <span ng-class="{'genericon genericon-home': $index==0}"></span>{{! category}}
            </a>
            <span ng-show="$last">{{! category}}</span>
          </li>
        </ol>
    	<!-- Breadcurmbs end -->
    	<!-- time start -->
    	<ul id="time">
          <li ng-repeat="time_block in time_frames" ng-class="{'current': $index==selected_time}" ng-click="timeChange($index)">
            <a href="#"><span class="genericon genericon-time"></span>{{! time_block.text}}</a>
            <br ng-show="$index==selected_time"><span class="genericon genericon-downarrow" ng-show="$index==selected_time"></span>            
          </li>
          <div class="clear"></div>
        </ul>
    	<!-- time end -->
        <!-- tweets start -->
        <button id="bt-loadmore">Refresh</button>
        <div class="con-tw" ng-repeat="tweet in tweet_array">
        	<div class="wrap-user">
            	<div class="user">
                  <div class="handle-main"><img src="{{! tweet.pic}}" alt="{{! tweet.name}}"/> {{! tweet.name}}</div>
                  <ul class="nominate" ng-repeat="handle in handle_list | matchTwitterName : tweet.name"
                      ng-class="{'done-up': handle.vote_val > 0, 'done-down':handle.vote_val < 0}">
                    <li class="up-v" ng-click="voteForHandle(handle.handle, 1);"><a href="#" onclick="return false;"><span class="genericon genericon-collapse"></span></a> <span>{{! handle.upvotes }}</span></li>
                    <li class="down-v" ng-click="voteForHandle(handle.handle, -1);"><a href="#" onclick="return false;"><span class="genericon genericon-expand"></span></a> <span>{{! handle.downvotes }}</span></li>
                  </ul>
                  <div class="clear"></div>
                </div>
                <div class="time-tw"><span class="genericon genericon-twitter"></span> {{! tweet.tweet_count }} <span class="genericon genericon-time"></span>
                {{! convertSecondsToDeltaTime(tweet.seconds_since_posted) }}</div>
                <div class="clear"></div>
            </div>
            <div class="wrap-con-tw" >
              <span ng-bind-html="tweet.text | unsafeLink"></span>
              <div class="preview-tw" ng-show="tweet.blurb || tweet.img_url || tweet.title" >
                <div class="ic-pr"><span class="genericon genericon-show"></span> Preview</div>
                <div class="span8">
                    	<img src="{{! tweet.img_url}}" ng-show="tweet.img_url" width="150"/>
                        
                    	<a href="{{! tweet.link_url }}"  ng-click="trackOutboundPreviewLink(tweet.link_url)" target="_blank" ng-show="tweet.title">{{! tweet.title }}</a>
                        <a href="{{! tweet.link_url }}" ng-click="trackOutboundPreviewLink(tweet.link_url)" ng-hide="tweet.title" ng-bind-html="tweet.text | unsafeLink"></a>
                        
                        
                    	<p ng-show="tweet.blurb">{{! tweet.blurb }}</p>
                        <p ng-hide="tweet.blurb" ng-bind-html="tweet.text | unsafeLink"></p>
                        
                        <div class="clear"></div>
                </div>
              </div>
            </div>
        </div>
        <!-- tweets end -->
        
    </div>
    <!-- sidebar start -->
    <div class="col-xs-3">
    	<!-- vote start -->
        <div class="box-side vote-wrap">
        	<h3>Vote <a tabindex="0" role="button" popover-trigger="mouseenter" popover-placement="right" uib-popover="Cast your vote to see more or less from the nominated handles below"><span class="genericon genericon-help"></span></a></h3>
            <ul id="list-vote">
              <li ng-repeat="handle in handle_list" ng-class="{'active': handle.tracked, 'none-active': !handle.tracked}" >
                <div class="handle">
                  <img src="{{! handle.profile_pic }}"/>
                  {{! handle.handle }}
                </div>
                
                <ul class="nominate" ng-class="{'done-up': handle.vote_val > 0, 'done-down':handle.vote_val < 0}" >
                  <li ng-class="{'up-v': handle.vote_val !=0}" ng-click="voteForHandle(handle.handle, 1); ">
                    <a href="#" onclick="return false;"><span class="genericon genericon-collapse"></span></a>
                    <span >{{! handle.upvotes}}</span>
                  </li>
                  <li ng-class="{'down-v': handle.vote_val !=0}" ng-click="voteForHandle(handle.handle, -1);">
                    <a href="#" onclick="return false;"><span class="genericon genericon-expand"></span></a>
                    <span >{{! handle.downvotes}}</span>
                  </li>
                </ul>
                <div class="clear"></div>
              </li>
            </ul>
        </div>
    	<!-- vote end -->
    </div>
    <!-- sidebar end -->
  </div>
</div>
<!-- contents end -->
</body>
</html>
