<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Filtra</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{static_url('css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{static_url('css/style.css')}}">
  <link rel="stylesheet" href="{{static_url('fonts/genericons/genericons.css')}}">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js" type="text/javascript"></script>
  <script src="{{static_url('js/filtraApp.js')}}"></script>
  <script src="{{static_url('js/newFiltraCtrl.js')}}"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    var tracking = getUrlParameter("tracking");
     /**
    * Function that tracks a click on an outbound link in Google Analytics.
    * This function takes a valid URL string as an argument, and uses that URL string
    * as the event label.
    */
    trackOutboundLink = function(url) {
        console.log("calling outbound: "+url);
        if( (typeof tracking == 'undefined')){
            ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
                function () {
                }
            });
        }
       
    }
    
    function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;
  
      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    }
  </script>
</head>

<body ng-app="filtraApp" ng-controller="newFiltraCtrl"
  {% if 'cat_name' in globals() %}
      ng-init="category_name='{{cat_name}}'"
  {% end %}
>
    
    <!-- header start -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid top-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="genericon genericon-menu"></span>                     
          </button>
          <a class="navbar-brand" href="#"><img src="{{static_url('images/logo.png')}}" alt="middle"  align="bottom" /></a> <p id="slogan">A brief summary of social media</p>
          <div class="clear"></div>
        </div>
           
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="logged_in"><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <li ng-hide="logged_in"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
            
            <li id="after-login" ng-show="logged_in"><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, <span>{{! username}}</span></a></li>
            <li ng-show="logged_in" ng-click="logout()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          </ul>
          <div class="clear"></div>
        
        <!-- nav start -->
        <ul class="nav navbar-nav">
          <li><a href="#" ng-click="redirectHome()">Front Page</a></li>
          <li ng-hide="category_structure.length == 0" ng-repeat="cat in category_structure" ng-class="{'active': $index == selected_top_index}">
            <a href="#"  ng-click="selectionChange($index, -1, -1)">{{! cat.name }}</a>
          </li>
        </ul>
        </div>
        <!-- nav end -->
      </div>
    </nav>
    <!-- header end -->
    <!-- contents start -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-2 hidden-xs hidden-sm wrap-sub-nav">    
            <!-- Collect the nav links, forms, and other content for toggling -->
              <ul id="nav-category" class="sub">
                    <li class="current-page" ng-click="selectionChange(selected_top_index, -1, -1)"><a href="#">{{! category_structure[selected_top_index].name }}</a></li>
                    <li ng-hide="category_structure.length == 0 || selected_top_index==-1" ng-repeat="cat in category_structure[selected_top_index].children"
                      id="{{! $index==selected_secondary_index ? 'sub-nav2' : 'random_sub_id'+$index}}">
                    
                        <div id="wrap-pr" ng-show="$index==selected_secondary_index"  >
                          <a href="#" ng-click="selectionChange(selected_top_index, $index, -1)">{{! cat.name }}</a>
                          <a href="#"><span class='genericon genericon-collapse'></span></a>
                        </div>
                        <ul ng-show="$index==selected_secondary_index && category_structure[selected_top_index].children[selected_secondary_index].children.length >0">
                          <li ng-repeat="subcat in category_structure[selected_top_index].children[selected_secondary_index].children"
                              ng-class="{'current-sub': $index==selected_third_index}">
                            <a href="#" ng-click="selectionChange(selected_top_index, selected_secondary_index, $index)" >{{! subcat.name}}</a>
                          </li>
                        </ul>
                        <a href="#" ng-hide="$index==selected_secondary_index" ng-click="selectionChange(selected_top_index, $index, -1)">
                          {{! cat.name }}</a>
                        <a href="#" ng-hide="$index==selected_secondary_index"><span class="genericon genericon-expand"></span></a>
                    </li>
              </ul>
        </div>
        <div class="col-xs-12 col-md-7 wrap-con-main">
            <!-- Breadcurmbs start -->
            <ol class="breadcrumb">
                <li ng-repeat="category in current_path | skipLastBreadcrumb">
                  <a href="#"  ng-click="breadCrumbSelection($index)">
                    <span ng-class="{'genericon genericon-home': $index==0}"></span>{{! category}}
                  </a>
                </li>
                <li class="dropdown active sc-mobile" uib-dropdown ng-show="current_path.length > 0">
      
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
                              {{! current_path[current_path.length -1 ] }}
                              <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdownMenu1">
                              <li ng-repeat="cat in peer_categories" ng-click="breadCrumbSubSelect($index);"><a href="#">{{! cat.name }}</a></li>
                      </ul>
                      
                </li>
                <li class="active sc-desktop" ng-show="current_path.length > 0">{{! current_path[current_path.length -1 ] }}</li>
            </ol>
            <!-- Breadcurmbs end -->
            <!-- Mobile time start -->
            <div class="wrap-drop-refresh">
                <div class="dropdown" uib-dropdown>
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
                    <span class="genericon genericon-time"></span> {{! time_frames[selected_time].text }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdownMenu1">
                    <li ng-repeat="time_frame in time_frames" ng-click="timeChange($index);">
                            <a href="#"><span class="genericon genericon-time"></span> {{! time_frame.text }}</a>
                    </li>
                  </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- Mobile time end -->
            <!-- time start -->
            <ul id="time">
              <li ng-repeat="time_block in time_frames" ng-class="{'current': $index==selected_time}" ng-click="timeChange($index)">
                <a href="#"><span class="genericon genericon-time"></span>{{! time_block.text}}</a>
                <br ng-show="$index==selected_time"><span class="genericon genericon-downarrow" ng-show="$index==selected_time"></span>            
              </li>
              <div class="clear"></div>
            </ul>
            <!-- time end -->
            <!-- buttons start -->
            <ul class="bt-wrap">
                <li><button id="bt-green" ng-click="refreshButton()"><span class="genericon genericon-refresh"></span> Refresh</button></li>
                <li><button id="bt-blue"><span class="genericon genericon-search"></span> Nominate</button></li>
                <div class="clear"></div>
            </ul>
            <!-- buttons end -->   
            <!-- tweets start -->
            <div class="con-tw"  ng-repeat="tweet in tweet_array">
                    <div class="wrap-user">
                    <div class="user">
                        <div class="handle-main"><img src="{{! tweet.pic}}" alt="{{! tweet.name}}"/></div>
                        <div class="handle-name"> {{! tweet.name}} </div>
                        <div class="clear"></div>
                    </div>
                    <div class="time-tw">
                        <span class="genericon genericon-time"></span>
                        {{! convertSecondsToDeltaTime(tweet.seconds_since_posted) }}
                        <ul class="vote-tw" ng-class="{'vote-done': tweet.voted != 0}">
                            <li class="up-v" ng-class="{'up-v-done': tweet.voted>0 }"
                                ng-click="vote(tweet.id, tweet.handle, 1)"><a href="#" onclick="return false;"><img src="{{static_url('images/ic-thumbs-up.png')}}" alt="thumbs-up" width="14"></a></li>
                            <li class="down-v" ng-class="{'down-v-done': tweet.voted<0 }"
                                ng-click="vote(tweet.id, tweet.handle, -1)"><a href="#" onclick="return false;"><img src="{{static_url('images/ic-thumbs-down.png')}}" alt="thumbs-down" width="14"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="wrap-con-tw">
                    <span ng-bind-html="tweet.text | unsafeLink"></span>
                    <div class="preview-tw" ng-show="tweet.blurb || tweet.img_url || tweet.title" >
                            <div class="ic-pr"><span class="genericon genericon-show"></span> Preview</div>
                                            <div class="span8">
                            <img src="{{! tweet.img_url}}" ng-show="tweet.img_url" width="150"/>
                            <a href="{{! tweet.link_url }}"  ng-click="trackOutboundPreviewLink(tweet.link_url)" target="_blank" ng-show="tweet.title">{{! tweet.title }}</a>
                            <a href="{{! tweet.link_url }}" ng-click="trackOutboundPreviewLink(tweet.link_url)" ng-hide="tweet.title" ng-bind-html="tweet.text | unsafeLink"></a>
                            
                            <p ng-show="tweet.blurb">{{! tweet.blurb }}</p>
                            <p ng-hide="tweet.blurb" ng-bind-html="tweet.text | unsafeLink"></p>
                            
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="wrap-comment">
                            <h4>Top Comments</h4>
                        <div class="ic-comment"><span class="genericon genericon-comment"></span> <a href="#">53</a></div>
                        <div class="clear"></div>
                        <p><span class="txt-user">Username</span> <span class="txt-date">(Feb 11, 2016 2:35 pm)</span>: Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
            <!-- tweets end -->
            <button id="bt-loadmore">Load More</button>
        </div>
        <!-- sidebar start -->
        <div class="col-xs-12 col-md-3">
            <!-- vote start -->
            <div class="box-side">
                    <h3>Sources</h3>
                <ul id="list-vote">
                    
                    
                    <li ng-repeat="handle in handle_list"><div class="handle"><img src="{{! handle.profile_pic }}" />{{! handle.username }}</div><div class="clear"></div></li>
                </ul>
            </div>
            <!-- vote end -->
        </div>
        <!-- sidebar end -->
      </div>
    </div>
    <!-- contents end -->
</body>
</html>